<div class="empty-state-container">
    <h1 class="state-header">Healthdesk.ai Admin Portal</h1>
    <p class="state-description lead">Build deeper relationships with your members and guests.</p>
    <div class="state-action">
        <div class="text-center pt-3">
            Click <a href="/login" class="link">here</a> to login.
        </div>
    </div>
</div>
