<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://raw.githubusercontent.com/HealthdeskAI/healthdesk-ai/master/apps/main/assets/static/images/healthdesk.jpg?token=AHWZN6WXNYXN5WGF72SBWIK6D7HFE" />
        <title>Healthdesk.ai - Admin Portal Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script src="<%= static_path(@conn, "/js/stacked-menu/stacked-menu.min.js") %>"></script>
        <script src="<%= static_path(@conn, "/js/perfect-scrollbar/perfect-scrollbar.min.js") %>"></script>
        <script src="<%= static_path(@conn, "/js/theme.js") %>"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" />
        <header class="app-header app-header-dark">
            <div class="top-bar">
                <div class="top-bar-brand">
                    <a href="/"><img src="https://raw.githubusercontent.com/HealthdeskAI/healthdesk-ai/master/apps/main/assets/static/images/healthdesk-logo.png?token=AHWZN6XK6IUUHHQI6YVCJUC6D7IV4"/></a>
                </div>
            </div>
        </header>
    </head>

    <body>
        <main class="auth">
<!--             <header id="auth-header" class="auth-header">
                <canvas class="particles-js-canvas-el" style="width:100%; height:100%;" width="2760" height="522"></canvas>
            </header> -->

            <%= if get_flash(@conn, :error) do %>
                <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <% end %>

            <%= render @view_module, @view_template, assigns %>
        </main>
    </body>
</html>
