/* This file is for your main application css. */
// @import "looper/scss/theme.scss";

$white:    #ffffff;

body {
  background-color: $white;
}

.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 3rem 0;
}

.page.has-sidebar-open {
    width: none !important;
}

.message-body {
    margin: 0 !important;
}

.custom-select {
    height: auto !important;
    padding-top: calc(.75rem + .75rem * (2 / 3)) !important;
    padding-bottom: calc(.75rem / 3) !important;
}

@media (max-width:600px) {
.message-header-actions {
  margin-left: 0 !important; }
}

.empty-state-fullpage {
  background: linear-gradient(to bottom, #0c0c2a 0%,#2d1960 100%) !important; }
