/* This file is for your main application css. */
@import "looper/scss/theme.scss";

body {
  background-color: $white;
}

/* landing page */
.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  .form-control[type=text] {
    padding-left: 0;
  }
}

.section {
  padding: 3rem 0;
}


/* search bar */
.top-bar-item-search {
  flex: 1;

  &.top-bar-item-search {
    max-width: 600px;
  }
}

.user-avatar {
  border: 2px solid $gray-600;
}

/* Conversations */
.section-menu {
  background: $white;
  position: relative;
  top: -1.5rem;
  margin-left: -2rem;
  margin-right: -2rem;

  .nav {
    margin: 0;
    padding-left: 2rem;

    .nav-link {
      font-weight: 700;
      color: $gray-800;
    }
  }
}

.menu-item.active > .menu-link {
  color: $primary;
}