<%= form_for @data, @action, fn f -> %>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Add Disposition</label>
    <%= text_input f, :disposition_name, class: "form-control" %>
  </div>
  <%= submit "Save", class: "btn btn-primary" %>
  <%= link "Cancel", to: team_path(@conn, :edit, @team.id)  %>
<% end %>
