<!-- .steps -->
<section class="steps{% if type != nil %} steps-{{type}}{% endif %}">
  <ul>
    <li class="success">
      <a href="#!" tabindex="-1">
        <span class="step-indicator step-indicator-icon"><i class="oi oi-person"></i></span>
        <span class="d-none d-sm-inline">Account</span>
      </a>
    </li>
    <li class="active">
      <a href="#!" tabindex="-1">
        <span class="step-indicator step-indicator-icon"><i class="oi oi-wrench"></i></span>
        <span class="d-none d-sm-inline">Service</span>
      </a>
    </li>
    <li>
      <a href="#!" tabindex="-1">
        <span class="step-indicator step-indicator-icon"><i class="oi oi-credit-card"></i></span>
        <span class="d-none d-sm-inline">Payment</span>
      </a>
    </li>
    <li>
      <a href="#!" tabindex="-1">
        <span class="step-indicator step-indicator-icon"><i class="oi oi-cart"></i></span>
        <span class="d-none d-sm-inline">Checkout</span>
      </a>
    </li>
  </ul>
</section>
<!-- /.steps -->
