<style>
 body {
     background-color: white;
     color: black;
 }

</style>

<div id="healthdesk-ai-chat-window" style="margin: 5px;">
    <%=
    live_render(@conn, MainWeb.Live.WebChat.Index, session: %{api_key: @api_key, remote_id: @ip})
    %>
</div>
<script>
 $("body").on("DOMSubtreeModified", "#healthdesk-ai-chat-window", function() {
     window.scrollBy(0,1000);
 });
</script>
<br />
<br />
