<style>
 body {
     background-color: white;
     color: black;
 }

</style>
<div style="margin: 5px;">
    <%=
    live_render(@conn, MainWeb.Live.WebChat.Index, session: %{api_key: @api_key, remote_id: @ip})
    %>
</div>
